#streamlit
#openai
#psycopg2-binary
#chromadb
#requests

fastapi
uvicorn[standard]
python-multipart
python-dotenv

openai
requests
psycopg2-binary

chromadb
langchain-chroma
langchain-classic
langchain-community
langchain-openai
langchain-text-splitters
pypdf

streamlit
azure-storage-blob